--- 
import Layout from '../layouts/Layout.astro';
import Progress from '../components/Progress.astro';
import progressionData from '../data/progress.json';

const pageTitle = "Test Progression";
---

<Layout pageTitle={pageTitle}>
  <div class="content">
    <p class="title">Test Your English Level</p>
    <Progress progressionData={progressionData} />
  </div>
</Layout>

<style scoped>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .title {
    text-align: center;
    font-size: 40px;
    color: #082033;
    font-family: Verdana;
    font-weight: bold;
  }
</style>
