---

---

<footer>
    <div class="mainContainer">
        <div class="column">
            <h3>Don't hesitate to ask</h3>
            <p>If you need informations, we are here to answer all your questions</p>
            <button>Contact Us</button>
        </div>
        <div class="column">
            <h3>Sections</h3>
            <ul>
                <li>Courses</li>
                <li>Tests</li>
                <li>About</li>
            </ul>
        </div>
        <div class="column">
            <h3>More</h3>
            <ul>
                <li>Cookie</li>
                <li>Settings</li>
                <li>Report</li>
            </ul>
        </div>
        <div class="column">
            <h3>Privacy</h3>
            <ul>
                <li>Policy</li>
                <li>GDPR</li>
                <li>CCPA</li>
            </ul>
        </div>
    </div>
    <div class="lowerContainer">
        <div class="underLine">
            <hr>
            <p>&copy; 2025 Lady Learning</p>
        </div>
    </div>
</footer>

<style>
    footer {
        margin: 0;
        padding: 0 250px;
        display: flex;
        flex-direction: column;
        background-color: #082033;
        color: #ffffff;
        font-family: Verdana;
        font-size: 21px;
    }

    .mainContainer {
        display: flex;
        flex-direction: row;
    }

    .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
    }

    .column:first-child {
        margin-right: 150px;
    }

    h3 {
        margin-top: 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        padding-bottom: 10px;
    }
    p {
        width: 270px;
        padding-bottom: 10px;
    }

    button {
        background-color: #b7dfff25;
        border: none;
        border-radius: 25px;
        color: #ffffff;
        font-weight: bold;
        font-size: 21px;
        padding: 10px 70px;
        margin-bottom: 30px;
        align-self: center;
    }

    .lowerContainer {
        display: flex;
        flex-direction: column;
    }
</style>