---
import lcLogo from "../assets/logo.svg";
import burgerIcon from "../assets/burger.svg";
---

<header>
  <nav class="desktop">
    <ul class="left-side">
      <a href="/"
        ><img
          class="logo"
          src={lcLogo.src}
          width="125"
          alt="Lady Catherine's website homepage"
        /></a
      >
      <li><a href="/about">About</a></li>
      <li><a href="/test">Test</a></li>
      <li>
        <a href="/course">Course</a>
      </li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <ul class="right-side">
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
  <nav class="mobile">
    <a href="/"
      ><img
        class="logo"
        src={lcLogo.src}
        width="125"
        alt="Lady Catherine's website homepage"
      /></a
    >

    <button id="burgerButton">
      <img class="burgerLogo" src={burgerIcon.src} alt="Menu" />
    </button>
  </nav>
  <ul id="mobileMenu">
    <li><a href="/about">About</a></li>

    <li><a href="/test">Test</a></li>
    <li>
      <a href="/course">Course</a>
    </li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>

  <style scoped>
    :root {
      --blue: rgba(183, 223, 255, 0.2);
    }



    * {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      box-sizing: border-box;
      transition: all;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    header {
      background-color: var(--blue);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding-inline: 1rem;
    }

    .logo {
      width: 5rem;
    }

    .logo:hover {
      transform: scale(1.1);
    }

    .burgerLogo {
      width: 3rem;
      cursor: pointer;
    }

    .burgerLogo:hover {
      transform: scale(1.1);
    }

    #burgerButton {
      border: none;
      background: none;
    }

    #mobileMenu {
      display: none;
      flex-direction: column;
      padding: 1rem;
      gap: 2rem;
      font-weight: bold;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: flex;
    }

    nav {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      align-items: center;
    }

    ul {
      display: flex;
      gap: 12px;
      align-items: center;
    }

    .left-side {
      gap: 1rem;
    }

    li {
      list-style: none;
    }

    li > .courses {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .right-side > li > img {
      position: relative;
      left: 0;
      top: 4px;
    }

    a {
      text-decoration: none;
      color: black;
      padding: 0.5em 1rem;
    }

    a:hover,
    a:active {
      color: #e72025;
    }

    .right-side {
      display: flex;
      gap: 2rem;
    }

    @media (width >= 950px) {
      #mobileMenu {
        display: none;
      }
    }

    @media (width < 950px) {
      * {
        font-size: small;
      }

      .mobile {
        display: flex;
        padding: 1rem;
      }

      .desktop {
        display: none;
      }
    }
  </style>
</header>

<script>
  const burger = document.getElementById("burgerButton");
  const mobileMenu = document.getElementById("mobileMenu");

  burger?.addEventListener("click", () => {
    if (mobileMenu) {
      mobileMenu?.style.display === "flex"
        ? (mobileMenu.style.display = "none")
        : (mobileMenu.style.display = "flex");
    }
  });

  window.addEventListener("resize", () => {
    const width = window.innerWidth;

    if (width >= 950 && mobileMenu) {
      mobileMenu.style.display = "none";
    }
  });
</script>
